<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form [formGroup]="RegisterForm" (submit)="submit()" class="register-form">
      <mat-card-content>
        <mat-form-field class="register-full-width">
          <input
            formControlName="display_name"
            matInput
            placeholder="display_name"
          />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input formControlName="email" matInput placeholder="Email" />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input formControlName="password" matInput placeholder="Password" />
        </mat-form-field>
      </mat-card-content>
      <button
        mat-stroked-button
        color="accent"
        class="btn-block"
        type="submit"
        [disabled]="!RegisterForm.valid"
      >
        Register
      </button>
    </form>
  </mat-card>
</div>
