<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title | uppercase }}</span>

    <div class="navigate">
      <mat-icon class="icon" aria-hidden="false" aria-label="home icon"
        >home</mat-icon
      >
      <mat-icon class="icon" aria-hidden="false" aria-label="group icon"
        >group</mat-icon
      >
    </div>
    <span class="spacer"></span>
    <mat-icon class="icon" aria-hidden="false" aria-label="login icon"
      >login</mat-icon
    >
    <mat-icon class="icon" aria-hidden="false" aria-label="how_to_reg icon"
      >how_to_reg</mat-icon
    >
    <mat-icon class="icon" aria-hidden="false" aria-label="account_circle icon"
      >account_circle</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>
