<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title">{{ title }}</span>

    <div class="navigate">
      <button (click)="navigateToHome()" mat-button>
        <mat-icon class="icon" aria-hidden="false" aria-label="home icon"
          >home</mat-icon
        >
      </button>
      <button (click)="navigateToFeed()" mat-button>
        <mat-icon class="icon" aria-hidden="false" aria-label="group icon"
          >group</mat-icon
        >
      </button>
    </div>
    <span class="spacer"></span>
    <button (click)="navigateToLogin()" mat-button>
      <mat-icon class="icon" aria-hidden="false" aria-label="login icon"
        >login</mat-icon
      >
    </button>
    <button (click)="navigateToRegister()" mat-button>
      <mat-icon class="icon" aria-hidden="false" aria-label="how_to_reg icon"
        >how_to_reg</mat-icon
      >
    </button>
    <button (click)="navigateToProfile()" mat-button>
      <mat-icon
        class="icon"
        aria-hidden="false"
        aria-label="account_circle icon"
        >account_circle</mat-icon
      >
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
