<h1 mat-dialog-title>Créer un nouveau post</h1>
<form class="post-form">
  <mat-form-field class="post-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Ex. Choupi le chaton" />
  </mat-form-field>

  <mat-form-field class="post-full-width" appearance="fill">
    <mat-label>Partagez votre contenu</mat-label>
    <textarea matInput placeholder="Ex. Voici babou mon chaton"></textarea>
  </mat-form-field>
</form>

<div mat-dialog-actions>
  <button mat-button>Poster</button>
  <button mat-button mat-dialog-close>Annuler</button>
</div>
