.card {
  max-width: 35rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
#postCreate {
  margin-top: 1rem;
}
#cmdBox {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
