<div class="formPost">
  <h1>Créer un nouveau post</h1>
  <form [formGroup]="addPostForm" (submit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Votre titre...</mat-label>
      <input matInput formControlName="title" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Votre publication...</mat-label>
      <textarea matInput formControlName="content" required></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Veuillez poster ici l'url de votre image</mat-label>
      <input matInput formControlName="image_url" />
      <mat-hint align="end">ex. imgur.com/chatonKroMigon.jpg</mat-hint>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!addPostForm.valid"
    >
      Publier
    </button>
  </form>
</div>
<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content class="content">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions id="cmdBox">
    <button
      mat-raised-button
      color="primary"
      matBadge="8"
      matBadgePosition="after"
      matBadgeColor="accent"
    >
      Commenter
    </button>
    <button mat-raised-button color="accent">Supprimer</button>
  </mat-card-actions>
</mat-card>
