<div class="main-div">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar>
        <img
          src="https://source.unsplash.com/random/800x600?cats"
          class="header-image"
        />
      </div>
      <mat-card-title>Birdo</mat-card-title>
      <mat-card-subtitle>Birdo@birdy.com</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="content">
      <p>Username: Birdo</p>
      <p>Role: Bleep</p>
      <h2>Bleep of bird</h2>
    </mat-card-content>
    <button
      mat-mini-fab
      color="warn"
      aria-label="icon button with a delete icon"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card>
</div>
