<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content class="content">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <form [formGroup]="addCommentForm" (ngSubmit)="onSubmit()" class="post-form">
    <mat-form-field class="post-full-width" appearance="fill">
      <mat-label>Réagissez</mat-label>
      <textarea
        formControlName="content"
        matInput
        placeholder="Ex. Qu'il est mignon ce chien"
      ></textarea>
    </mat-form-field>
  </form>
  <mat-card-actions id="cmdBox">
    <button type="submit" mat-raised-button color="primary">Commenter</button>
    <button id="modifyPost" mat-raised-button color="accent">modifier</button>
    <button id="deletePost" mat-mini-fab color="accent">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<!-- réunifier le formulaire ! -->

<mat-card class="comment-card">
  <mat-card-title-group>
    <mat-card-title>John Lombek</mat-card-title>
    <mat-card-subtitle>12 Nov. 2020</mat-card-subtitle>
    <!-- <img
      mat-card-sm-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    /> -->
  </mat-card-title-group>
  <mat-card-content>
    "Lorem ipsum dolor sit amet consectetur adipisicing elit." Eum fuga magni
    quod perspiciatis ratione reiciendis veniam, ut quisquam dolores blanditiis?
  </mat-card-content>
  <button mat-mini-fab color="primary">
    <mat-icon>delete</mat-icon>
  </button>
</mat-card>
