<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content class="content">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <form class="post-form">
    <mat-form-field class="post-full-width" appearance="fill">
      <mat-label>Réagissez</mat-label>
      <textarea
        matInput
        placeholder="Ex. Qu'il est mignon ce chaton"
      ></textarea>
    </mat-form-field>
  </form>
  <div mat-card-actions>
    <button mat-button>Commentez</button>
  </div>
</mat-card>
<ul>
  <li ng-repeat="comment in comments">
    <header>
      <h1 ng-class="{ author: isAuthor(comment.author.email) }">
        Comment author name
      </h1>
      <img ng-src="comment.imageUrl" />
    </header>
    <p ng-bind-html="parseContent(comment.content)"></p>
  </li>
</ul>
