.card {
  max-width: 35rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.post-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
mat-form-field {
  width: 100%;
}
.post-form {
  margin: auto;
}

.comment-card {
  max-width: 35rem;
  margin-bottom: 8px;
  margin: 0 auto;
  margin-top: 1rem;
}
#cmdBox {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#modifyPost {
  margin-left: auto;
}
